$red: #e34444;
$black-gray: #585454;
$black: #2c2a2a;
$light-gray: #cbcbcb;
$black-gray-light  :  rgb(65, 60, 60);
$gold: rgb(202, 162, 60);
$yellow : gold ;
$primary: #1976d2;
$info: #1da1f2;
$main-color : #c96 ;
$pink : #fb9c9c ; 

.bg-whitesmoke {
  background: whitesmoke;
}
