.upload-image-container {
  .big-image-container {
    width: 60%;
    float: left;

    @media (max-width: 1000px) {
      float: none;
      width: 100%;
    }

    .big-image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .small-image-container {
    width: 40%;
    float: left;

    @media (max-width: 1000px) {
      float: none;
      width: 500px;
    }

    .small-image {
      width: 100%;
      border-radius: 5px;
    }
  }
  .product-image-container {
    width: 300px;
    float: left;

    @media (max-width: 1000px) {
      float: none;
      width: 500px;
    }

    .image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .variation-image-container {
    width: 150px;
    float: left;

    @media (max-width: 1000px) {
      float: none;
    }

    .image {
      width: 150px;
      border-radius: 5px;
    }
  }

  .upload-container {
    float: left;
    width: 40%;
    padding: 20px;

    @media (max-width: 1000px) {
      padding: 10px;
      width: 100%;
    }

    .custom-file-upload {
      border: 1px solid  $light-gray;
      display: inline-block;
      padding: 4px 10px;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: aliceblue;
      }
    }
  }
}
